/* styles/Home.module.css */

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background: linear-gradient(to bottom, transparent, #f0f0f0);
}

.chordForm,
.scaleForm {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.chordForm label,
.scaleForm label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.chordForm input,
.scaleForm input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.chordForm button,
.scaleForm button {
  padding: 10px 20px;
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chordForm button:hover,
.scaleForm button:hover {
  background-color: #b71c1c;
}

.ulNoBullets,
.notesList,
.inversionList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.notesListItem,
.inversionListItem {
  padding: 8px 12px;
  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.noteName,
.noteDegree {
  font-size: 1.1rem;
  color: #333;
  font-weight: bold;
  margin-top: 4px;
  display: block;
}
