/* Navigation.module.css */
.nav {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  display: block;
  padding: 0 30px;
  font-size: 20px;
  line-height: 60px;
}

.navList {
  display: none;
}

.navLink {
  display: block;
  padding: 0 20px;
  color: #61dafb;
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
}

.navLink:hover,
.navLink:focus {
  background-color: #000000;
  color: #ffffff;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }

  .bm-burger-button {
    display: block;
  }

  .navList {
    display: flex;
    flex-direction: column;
  }

  .navItem {
    display: block;
    width: 100%;
  }

  .navLink {
    padding: 0 40px;
  }
}

.burgerIcon {
  /* ... your styles ... */
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.burgerIcon:hover {
  color: #61dafb; /* Example color */
}
