/* Navigation.module.css */
.nav {
  background-color: #282c34; /* Updated background color */
  display: flex;
  justify-content: space-between; /* Adjust to space items */
  align-items: center;
}

#logo {
  display: block;
  padding: 0 30px;
  font-size: 20px;
  margin-left: auto;
}

.menuContainer {
  display: flex;
  align-items: center;
  width: 5px;
  height: 10px;
}

.burgerIcon {
  color: rgb(111, 111, 206);
  cursor: pointer;
  padding: 10px;
}

#react-burger-menu-btn {
  height: 10px;
  width: 10px;
}

.navLink {
  display: block;
  padding: 0 20px;
  color: rgb(111, 111, 206);
  font-size: 20px;
  line-height: 60px;
  text-decoration: none;
}

.navLink:hover,
.navLink:focus {
  background-color: #000000;
  color: #ffffff;
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }
  .burgerIcon {
    display: block; /* Show on smaller screens */
  }

  /* Hide full menu on smaller screens */
  .navList {
    display: none;
  }

  .navList {
    display: flex;
    flex-direction: column;
  }

  .navItem {
    display: block;
    width: 100%;
  }

  .navLink {
    padding: 0 40px;
  }
}

.burgerIcon:hover {
  color: #61dafb;
}
