/* Scales.module.css */

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background: linear-gradient(to bottom, transparent, #f0f0f0);
}

/* .pageTitle {
} */

.categoryTitle {
  color: #d32f2f; /* Consistent title color as in globals.css */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.ulNoBullets {
  list-style: none; /* Removes default list styling */
  padding: 0;
  margin: 0; /* Ensures consistent spacing with global styles */
  /* Additional list styling specific to Scales page */
}
